<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <%- include('./partials/nav_bar.ejs') %>
    
    <div style="text-align: center; margin-top: 5%;">
        <h1><%= title %></h1>
    </div>

    <div>
        <table border="1" style="width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>username</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <% data.forEach((element, idx) => { %>
                    <tr style="background-color: silver;">
                        <td><%= element.fullName() %></td>
                        <td><%= element.role %></td>
                        <td><%= element.email %></td>
                        <td><%= element.username %></td>
                        <td><%= element.password %></td>
                        <td style="text-align: center;">
                            <a style="text-decoration: none; margin-right: 1%;" href="/users/<%= element.id %>/delete">
                                <button style="background-color: crimson; color: antiquewhite;">DELETE</button></a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</body>
</html>